// .parrents {
// }

// .parrent {
//     overflow: hidden;
//     margin: 0 auto;
//     height: 800px;
//     position: relative;
//     // background-color: blue;
//     max-width: 1200px;
// }
// .child {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: rgba(255, 0, 0, 0.247);

// }
// .text {
//     width: 90%;
//     font-size: 20px;
//     font-weight: 700;
//     color: #fff;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
// .pagination {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 800px;
//     height: 100%;
//     background-image: url(/public/testimonial/cirles.svg);
//     background-repeat: no-repeat;
//     background-size: 300%;
//     background-position: center;

// }

.detail-service {
    padding-top: 300px;
    background-image: url(/public/detail-page/circles.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    // background-size: 100%;
    // background-size: 100vh;
    background-position: center 15%;

    @media (max-width: 1140px) {
        background-size: 150%;
    }

    @media (max-width: 768px) {
        background-size: 350%;
    }
}
