.slider {
    width: 627px;
    overflow: hidden;
    margin: 0 auto;
}

.wrapperHidden {
}

.sliderTrack {
    display: flex;
}

.slide {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideTitle {
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background: linear-gradient(90deg, #0cbaf1, #fe69fe);
    color: transparent;
    background-clip: text;
    letter-spacing: 2.5px;
    margin-bottom: 12px;
}

.slideSubtitle {
    font-family: 'Chakra Petch', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.21;
    margin-bottom: 16px;
}

.slideDescription {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    line-height: 1.75;
    font-size: 16px;
    color: #d1d1d1;
}
.slideDescriptionFirst {
    margin-bottom: 40px;
}
.slideDescriptionSecond {
    margin-bottom: 54px;
}
.slideDescriptionThird {
    margin-bottom: 40px;
}
.slideDescriptionFourth {
    margin-bottom: 32px;
}

.slideArticle {
    margin-bottom: 32px;
    padding: 30px 59px 35px 32px;
    background-color: rgba(37, 37, 50, 0.623);
    border-image: linear-gradient(90deg, #636366 0%, #18181b 100%);
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
}

.slideArticleTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 24px;
}

.slideArticleList {
}

.slideArticleListItem {
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 14px;
    background-image: url(/icons/check-mark.svg);
    padding-left: 25px;
    background-repeat: no-repeat;
}

.slideBtn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: linear-gradient(90deg, #0cbaf1, #fe69fe);
    padding: 17px 38px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.slideBtn span {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.slideBtn span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    inset: -5px;
    transform: translate(8px, 5px);
    z-index: -1;
    background: linear-gradient(90deg, #0cbaf1, #fe69fe);
    filter: blur(20px);
    transition: 0.4s;
    opacity: 0;
}
.slideBtn span:hover::before {
    opacity: 1;
}

.slideBtnTitle {
}

.listPagination {
}

.listPagination > li {
    position: absolute;
}
.listPagination > li:first-child {
    top: 97%;
    left: 18%;
}
.listPagination > li:last-child {
    top: 97%;
    right: 18%;
}

.paginationBtn {
    color: #ffffff;
    cursor: pointer;
    width: 102px;
    height: 102px;
    font-size: 14px;
    position: absolute;
    background-color: transparent;
    z-index: 6;
    border: none;
    background-color: rgba(37, 37, 50, 0.801);
    transition: 0.4s;
    border-radius: 50%;
}
.paginationBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 109%;
    z-index: -1;
    border: none;
    background-image: url(/testimonial/gradient.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paginationBtnActive {
}

.wrapperArrows {
}

.arrowLeft {
}

.arrowRight {
}
