.error {
    padding-top: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 150px;
    max-width: 1320px;
}
.error__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .button {
        margin-top: 40px;
    }
}
.error__info {
    max-width: 625px;
}
.error__logo {
    height: 500px;
}
.error__wrapper-img {
    width: 651px;
    z-index: 1;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 46.5%;
        left: 50.5%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 28.125rem;
        height: 12.5rem;
        background: linear-gradient(
            98.54deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        filter: blur(105px);
        border-radius: 88% 12% 88% 12% / 20% 37% 63% 80%;
        transform: translate(-50%, -50%) rotate(-20deg);
    }
}
