@import "/src/common/common-style/vars.scss";
.articles {
    margin-bottom: 153px;
    &__content {
        margin: 0 auto;
    }
    &__header {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    &__header-wrapper {
    }
    &__action-elements {
        padding-top: 72px;
    }
}

.context-title {
}
.context-subtitle {
}
.link-other-page-empty {
    &--articles {
        align-self: center;
        padding: 18px 38px;
        span {
            font-weight: 700;
            color: $white;
        }
    }
}
