@import "/src/common/common-style/vars.scss";
.my-slide {
    padding: 24px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--first {
        background-image: url(/src/img/articles/slide-1.webp);
    }
    &--second {
        background: linear-gradient(
                180deg,
                rgba(176, 176, 178, 0) 55%,
                rgb(0, 0, 0) 100%
            ),
            url(/src/img/articles/slide-2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &--third {
        background: linear-gradient(
                180deg,
                rgba(176, 176, 178, 0) 55%,
                rgb(0, 0, 0) 100%
            ),
            url(/src/img/articles/slide-3.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &--fourth {
        background-image: url(/src/img/articles/slide-4.webp);
    }
    &__content {
    }
    &__title {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 16px;
        padding: 2px 10px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    &__wrapper-descript {
        display: flex;
        align-items: center;
        column-gap: 30px;

        .link-other-page-empty--product {
            position: relative;
            flex-shrink: 0;
            width: 50px;
            height: 50px;

            .product-wrapper-arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(/src/img/icons/arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &__descript {
        max-width: 509px;
        font-size: 32px;
        color: $white;
        font-weight: 600;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}
