@import "/src/common/common-style/vars.scss";
.testimonial {
    &__content {
        position: relative;
        padding-top: 111px;
        margin: 0 auto;
        max-width: 1247px;
        height: 1247px;
        width: 100%;
        background-image: url(/src/img/testimonial/cirles.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &__header {
        text-align: center;
        margin-bottom: 140px;

        .context-title {
        }
        .context-subtitle {
        }
    }
    .testimonial__wrapper-img {
        width: 613px;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translateX(-49.1%);

        &::before {
            content: "";
            border-radius: 100%;
            display: block;
            position: absolute;
            top: -25%;
            left: 150px;
            width: 400px;
            height: 200px;
            border-radius: 47% 51% 51% 47% / 46% 49% 45% 51%;
            transform: translate(-105px, 350px) rotate(0deg);
            z-index: -1;
            background: $blue;
            filter: blur(105px);
        }
        &::after {
            content: "";
            border-radius: 100%;
            display: block;
            position: absolute;
            top: -15%;
            right: 150px;
            width: 400px;
            height: 250px;
            border-radius: 47% 51% 51% 47% / 46% 49% 45% 51%;
            transform: translate(75px, 150px) rotate(15deg);
            z-index: -1;
            background: $purple;
            filter: blur(105px);
        }
    }
    &__img {
        object-fit: cover;
        width: 100%;
    }
}
