@use "/src/common/common-style/vars.scss" as *;
.team {
  margin-bottom: 150px;

  &__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
  }

  &__cards {
  }
  &__cards-list {
    display: flex;
    column-gap: 10px;
  }
  &__card {
    cursor: pointer;
    position: relative;
    width: 295px;
    height: 390px;
    background-color: $black50;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, #323233 0%, $black100 100%);
    border-image-slice: 1;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 99.5%;
      height: 99.5%;
      text-decoration: none;
      border-width: 1px;
      border-style: solid;
      border-image: $linear;
      border-image-slice: 1;
      opacity: 0;
      transition: 0.4s;
      background-color: $black50;
    }

    &:hover {
      &::before {
        opacity: 0.8;
      }
    }
  }
  &__card-img {
    padding-bottom: 10px;
    display: flex;
    row-gap: 10px;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    position: relative;
    transform: translate(2%, 2%);
    width: 96%;
    height: 96%;

    &--first {
      background:
        linear-gradient(rgba(255, 255, 255, 0), rgba(25, 39, 131, 0.8)),
        url(/about-us-page/team/ceo.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
    }
    &--second {
      background:
        linear-gradient(rgba(255, 255, 255, 0), rgba(25, 39, 131, 0.8)),
        url(/about-us-page/team/development.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
    }
    &--third {
      background:
        linear-gradient(rgba(255, 255, 255, 0), rgba(25, 39, 131, 0.8)),
        url(/about-us-page/team/artist.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
    }
    &--fourth {
      background:
        linear-gradient(rgba(255, 255, 255, 0), rgba(25, 39, 131, 0.8)),
        url(/about-us-page/team/designer.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
    }
  }
}
