.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    transition:
        padding-top 0.4s,
        background-color 0.4s,
        backdrop-filter 0.4s;
    padding: 31px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    &.scroll {
        padding: 10px;
        background-color: rgba(37, 37, 50, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    [data-link-mobile] {
        display: none;
        transition: transform 0.4s;
    }
    @media (max-width: 425px) {
        [data-link-desktop] {
            display: none;
        }
        [data-link-mobile] {
            display: block;
        }
    }
    .logo {
        z-index: 5;
    }
}

.menu__wrapper-list {
    position: absolute;
    top: 40px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 0;
    transition:
        height 0.5s,
        padding 0.5s;
    @media (max-width: 768px) {
        width: 100%;
        left: -18px;
    }
}
.sublist {
    width: 99%;
    height: 99%;
    padding: 15px;
    list-style: none;
    background-color: $black50;
    font-size: 15px;

    &::after {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 102%;
        height: 102%;
        background: linear-gradient(90deg, #636366 0%, $black100 100%);
        z-index: -1;
    }

    &__item {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menu {
    &__list {
        display: flex;
        gap: 65px;
        align-items: center;
        transform: translateX(12px);
        transition: gap 0.3s;

        @media (max-width: 1024px) {
            gap: 30px;
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
        }
        @media (max-width: 425px) {
            margin-bottom: 50px;
        }
    }
    &__item {
        position: relative;
        @media (max-width: 768px) {
            width: 100%;
            transition: transform 0.4s;
        }
    }
    &__item.active {
        @media (max-width: 768px) {
            & + .menu__item,
            & + .menu__item + [data-link-mobile],
            & + [data-link-mobile] {
                transform: translateY(165px);
            }
        }
        .menu__wrapper-list {
            height: 139px;
            @media (max-width: 768px) {
                height: 170px;
            }
            &--second {
                height: 109px;
                @media (max-width: 768px) {
                    height: 140px;
                }
            }
        }
        .anchor-link--sublist::after {
            transition: all 0.5s ease 0s;
            transform: rotateX(180deg) translateY(50%);
        }
    }

    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.4s;
        width: 100%;
        height: 100vh;
        background-color: rgba(37, 37, 50, 0.63);
        padding: 100px 30px 30px 30px;

        &.open {
            left: 0;
        }
    }
}

.anchor-link {
    cursor: pointer;
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    color: $grey1;
    transition: 0.5s;

    &:hover {
        color: $white;
    }
    &--sublist {
        position: relative;
        background: transparent;
        outline: none;
        border: none;
        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 50%;
            right: -15px;
            transform: translateY(-50%);
            transition: all 0.5s ease 0s;
            background-image: url(/src/img/icons/arrow-link.svg);
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: 768px) {
                width: 31px;
                height: 42px;
                background-size: cover;
            }
        }
    }
    @media (max-width: 768px) {
        display: block;
        font-size: 22px;
        width: 90%;
        text-align: left;
    }
}
.wrapper-header-controls {
    display: flex;
    gap: 20px;
}

.burger {
    position: relative;
    display: none;
    width: 48.39px;
    height: 48.39px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: $linear;
    background-color: transparent;
    border-image-slice: 1;

    &__line {
        position: absolute;
        right: 11px;
        display: block;
        width: 16px;
        height: 2px;
        background-color: $white;
        transition: 0.4s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            background-color: $white;
            right: 0;
            transition: 0.4s;
        }
        &::before {
            content: "";
            top: -8px;
            width: 23px;
        }
        &::after {
            content: "";
            bottom: -8px;
            width: 10px;
        }
    }

    @media (max-width: 768px) {
        display: block;
    }
}
.burger.active {
    .burger__line {
        width: 0;
        &::before {
            content: "";
            top: 0;
            transform: rotate(-45deg);
        }
        &::after {
            width: 23px;
            bottom: 0;
            transform: rotate(45deg);
        }
    }
}
