// main colors

$linear: linear-gradient(90deg, #0cbaf1, #fe69fe);
$purple: #ca6aeb;
$blue: #19b5f1;

// alerts
$success: #00c566;
$error: #ff4747;
$warning: #facc15;

// greyscale

$black100: #18181b;
$black50: #252532;
$grey1: #b0b0b2;
$grey2: #d1d1d1;
$white: #ffffff;
